<div class="filimg">
	<img src="img/selection.png" alt="imge" />
</div>
<div class="big-logo">
	<img style="width: 38%" src="img/big-logo.png" alt="imge" />
</div>
<div class="hdr-cnt ">
	<div class="g-6 text-left">
		<div ><img class="exit-btn btn-hvr"  ng-click="exitApp()" style="cursor: pointer;width:50px" src="img/exit.png" alt="exit" /> </div>
	</div>
</div>

<div class="bdy-cnt">
	<div class="outer">
		<div class="middle">
			<div class="inner">
				<div class="g-12">
					<a class="ply-cnt" href="#/catagory">
						<img class="play-btn btn-hvr" style="width:120px" src="img/play.png"alt="play" />

					</a>
				</div>

			</div>

		</div>
	</div>
</div>

<div class="ftr-cnt">
	<div class="g-6 "><img class="btn-hvr"  style="cursor: pointer;width:60px" src="img/lang.png" alt="exit" /></div>
	<div class="g-6 text-leftt">
		<a href="#/parent/profile"><img class="btn-hvr"  style="cursor: pointer;width:60px" src="img/parent.png" alt="exit" /> </a>
	</div>
</div>

