<div class="filimg">
	<img src="img/selection.png" alt="imge" />
</div>

<div class="hdr-cnt ">
	<div class="g-4 text-left">
		<a style="display: inline-block;" href="#/stage"><img class="btn-hvr"  style="cursor: pointer;width:50px" src="img/menu.png" alt="exit" /> </a>
	</div>
	<div class="g-8 text-right">
		<img   style="cursor: pointer;" src="img/cat_title.png" alt="Catagory" />
	</div>
</div>

<div class="bdy-cnt">


			<div class="g-4">
				<div style="padding-left: 50px;""><img style="width: 250px;" src="img/kuku-r.png" alt="kuku l" /></div>
			</div>
			<div class="g-8">
			<div class="outer stg-hm">
		<div class="middle">
			<div class="inner">
			<ul>
					<li class="g-3 g-prnt lvl-btn">
						<a href="#/stage_1">
							<img src="img/stage_1.png" class="btn-hvr" alt="btn" />

						</a>
					</li>
					<li class="g-3 g-prnt lvl-btn">
						<a href="#/stage_2">
							<img src="img/stage_2.png" class="btn-hvr" alt="btn" />
						</a>
					</li>
					<li class="g-3 g-prnt lvl-btn">
						<a href="#/stage_3">
							<img src="img/stage_3.png" class="btn-hvr" alt="btn" />
						</a>
					</li>
					<li class="g-3 g-prnt lvl-btn">
						<a href="#/stage_4">
							<img src="img/stage_4.png" class="btn-hvr" alt="btn" />
						</a>
					</li>


				</ul>
			</div>

			</div>
		</div>
	</div>


</div>