<div class="filimg">
	<img src="img/bg-home.jpg" alt="imge" />
</div>

<div class="hdr-cnt ">
	<div class="g-6 text-left">
		<a href="#/stage">Back </a>
	</div>
</div>

<div class="bdy-cnt">

	<div class="outer stg-hm">
		<div class="middle">
			<div class="inner">
				<ul>
					<li class="g-3 g-prnt lvl-btn">
						<a href="#/listening/">
							<img src="img/lvl-btn.png" alt="btn" />

						</a>
					</li>
					<li class="g-3 g-prnt lvl-btn">
						<a href="#/speaking/">
							<img src="img/lvl-btn.png" alt="btn" />
						</a>
					</li>
					<li class="g-3 g-prnt lvl-btn">
						<a href="#/reading/">
							<img src="img/lvl-btn.png" alt="btn" />
						</a>
					</li>
					<li class="g-3 g-prnt lvl-btn">
						<a href="#/writing/">
							<img src="img/lvl-btn.png" alt="btn" />
						</a>
					</li>


				</ul>
			</div>
		</div>
	</div>


</div>