<div class="filimg">
	<img src="img/selection.png" alt="imge" />
</div>

<div class="hdr-cnt ">
	<div class="g-6 text-left">
		<a style="display: inline-block;" href="#/catagory"><img class="btn-hvr"  style="cursor: pointer;width:50px" src="img/menu.png" alt="exit" /> </a>

	</div>
	<div class="g-6 text-right">
		<img   style="cursor: pointer;" src="img/skill_ttl.png" alt="Skill" />
	</div>
</div>

<div class="bdy-cnt">

	<div class="outer stg-hm">
		<div class="middle">
			<div class="inner">
				<ul>
					<li class="g-4 g-prnt lvl-btn stp-bg">
						<a href="#/listening/{{stagelevel}}">
							<img class="btn-hvr" src="img/skill1.png" alt="btn" />

						</a>
					</li>
					<li class="g-4 g-prnt lvl-btn stp-bg">
						<a href="#/speaking/{{stagelevel}}">
							<img class="btn-hvr" src="img/skill2.png" alt="btn" />
						</a>
					</li>
					<li class="g-4 g-prnt lvl-btn stp-bg">
						<a href="#/reading/{{stagelevel}}">
							<img class="btn-hvr" src="img/skill3.png" alt="btn" />
						</a>
					</li>



				</ul>
			</div>
		</div>
	</div>


</div>