<div class="filimg">
	<img src="img/selection.png" alt="imge" />
</div>

<div class="hdr-cnt ">
	<div class="g-3 text-left">
		<a style="display: inline-block;" href="#/catagory">
			<img class="btn-hvr" style="cursor: pointer; width: 50px"
				src="img/menu.png" alt="exit" />
		</a>

	</div>
	<div class="g-9 text-right">
		<img style="cursor: pointer;" src="img/stg_1_ttl.png" alt="Stage" />
	</div>
</div>
<script type="text/javascript">

</script>
<div class="bdy-cnt">


	<div class="outer">
		<div class="middle">
			<div class="inner ">



				<div class="g-12 pdng-b-10">
					<div class="g-3 lvl-btn">
						<a href="#/level/5">
							<img src="img/lvl-btn.png" class="btn-hvr" alt="btn" /> <img
								class="lvl-ltr" src="img/s1l1.png" alt="s1l1" />
						</a>
					</div>
					<div class="g-3 lvl-btn">
						<a href="#/level/5">
							<img src="img/lvl-btn.png" class="btn-hvr" alt="btn" /> <img
								class="lvl-ltr" src="img/s1l2.png" alt="s1l2" />
						</a>
					</div>
					<div class="g-3 lvl-btn">
						<a href="#/level/5">
							<img src="img/lvl-btn.png" class="btn-hvr" alt="btn" /> <img
								class="lvl-ltr" src="img/s1l3.png" alt="s1l3" />
						</a>
					</div>
					<div class="g-3 lvl-btn">
						<a href="#/level/5">
							<img src="img/lvl-btn.png" class="btn-hvr" alt="btn" /> <img
								class="lvl-ltr" src="img/s1l4.png" alt="s1l1" />
						</a>
					</div>


				</div>
				<div class="g-12 g-prnt pdng-t-10">
					<div class="g-9 center">
						<div class="g-4 lvl-btn">
							<a href="#/level/5">
								<img src="img/lvl-btn.png" class="btn-hvr" alt="btn" /> <img
									class="lvl-ltr" src="img/s1l5.png" alt="s1l5" />
							</a>
						</div>
						<div class="g-4 lvl-btn">
							<a href="#/level/5">
								<img src="img/lvl-btn.png" class="btn-hvr" alt="btn" /> <img
									class="lvl-ltr" src="img/s1l6.png" alt="s1l6" />
							</a>
						</div>
						<div class="g-4 lvl-btn">
							<a href="#/level/5">
								<img src="img/lvl-btn.png" class="btn-hvr" alt="btn" /> <img
									class="lvl-ltr" src="img/s1l7.png" alt="s1l7" />
							</a>
						</div>

					</div>
				</div>

			</div>


		</div>
	</div>
</div>
